<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/integration/http https://www.springframework.org/schema/integration/http/spring-integration-http-5.2.xsd
		http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration-5.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">


    <context:component-scan base-package="com.example.demo"/>
<!-- 
    <context:property-placeholder location="classpath:application.properties"/>
 -->
 <!-- Inbound/Outbound Channels -->
	<int:channel id="responseChannel" />
	<int:channel id="inputChannel"/>
	<int:channel id="errorChannel"/>
	
	<int-http:inbound-gateway id="inboundGateway"
		supported-methods="POST"
		request-payload-type="com.example.demo.model.MyRequest"
		request-channel="inputChannel"
		reply-channel="responseChannel"
		error-channel="errorChannel"
		mapped-response-headers="Return-Status,Return-Status-Msg,HTTP_RESPONSE_HEADERS" 
		path="/demo"
		reply-timeout="50000"
		message-converters="converters"
        merge-with-default-converters="false"
        validator="myRequestValidator">
		 <int-http:request-mapping consumes="application/json" produces="application/json"  />
	</int-http:inbound-gateway>
	
	<util:list id="converters">
	  <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
	</util:list>
	
    <int:service-activator
            input-channel="errorChannel"
            output-channel="responseChannel"
            ref="globalExceptionHandler"
            method="handleError"
    />	
	<int:service-activator ref="incomingActivator" input-channel="inputChannel" output-channel="responseChannel" method="handle"></int:service-activator>
	

	<bean class="com.example.demo.activator.MyEndpoint" id="incomingActivator"/>	
	<bean class="com.example.demo.model.MyRequestValidator"  id="myRequestValidator"/>
	<!-- 
	 <bean name="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean name="jsonTemplate" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
	 -->
	
</beans>
